container_commands:
  01_migrate_and_superuser:
    command: "/var/app/venv/staging-LQM1lest/bin/python /var/app/staging/manage.py migrate --run-syncdb && /var/app/venv/staging-LQM1lest/bin/python /var/app/staging/manage.py shell -c \"from django.contrib.auth.models import User; User.objects.filter(username='admin').exists() or User.objects.create_superuser('admin', 'admin@example.com', 'admin1234')\""
    leader_only: false
